.selectgrpcolp {
	display: block;
}

.selectgrpcolp .sgc-hide {
	display: none;
}

.selectgrpcolp .sgc-select {
	height: 2em;
	min-width: 50px;
	width: 100%;
	position: relative;
	padding: 0px 5px;
	
	overflow: hidden;
	text-align: left;
	background-color: #fff;
	border: 1px solid #adadad;
	white-space: nowrap;
}

.selectgrpcolp .sgc-select:hover {
	border-color: #6f6f6f;
}

	.selectgrpcolp .sgc-select .sgc-select-text {
		display: inline-block;
	}
	.selectgrpcolp .sgc-select .sgc-select-arrow {
		display: inline-block;
		position: absolute;
		right: 0px;
		padding: 0px 4px;
		
		background-color: #fff;
	}

.selectgrpcolp .sgc-dropmenu {
	position: absolute;
	z-index: 1000;
}

	.selectgrpcolp .sgc-dropmenu .sgc-level {
		list-style-type: none;
	}

	.selectgrpcolp .sgc-dropmenu>.sgc-level {
		margin: 0px 0px 0px 0px;
		padding: 0px;
		
		max-height: 300px;

		background-color: #fff;
		border: 1px solid #adadad;
		overflow-y: scroll;
	}

	.selectgrpcolp .sgc-dropmenu .sgc-option {
		padding: 0px 5px;
		cursor: default;
	}
		.selectgrpcolp .sgc-dropmenu .sgc-option:hover {
			background-color: #58a3fc;
		}

	.selectgrpcolp .sgc-dropmenu .sgc-optgroup-label {
		padding: 0px 5px;
		font-weight: bold;
		font-style: italic;
		cursor: pointer;
		background-color: #f0f0f0;
	}

	.selectgrpcolp .sgc-dropmenu .sgc-optgroup {
	}

	.selectgrpcolp .sgc-dropmenu .sgc-optgroup>.sgc-level {
		padding-left: 0px;
	}

	.selectgrpcolp .sgc-dropmenu .sgc-optgroup .sgc-option-label {
		padding-left: 18px;
	}

	.selectgrpcolp .sgc-tab {
		padding-left: 10px;
	}